body {
  font-family: "Shippori Mincho", serif;
}

main .wrapper {
  margin: 0 auto;
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border: 5px solid #4f6043;
  border-radius: 15px;
}
main .wrapper .container {
  max-width: 360px;
  height: 400px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .wrapper .container a {
  color: black;
  font-family: "Shippori Mincho", serif;
  font-size: 40px;
  text-decoration: none;
  border: 2px solid #4f6043;
  border-radius: 10px;
  margin: 15px;
}