body {
  font-family: "Shippori Mincho", serif;
}

main .wrapper {
  margin: 0 auto;
  max-width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 5px solid #4f6043;
  border-radius: 15px;
}
main .wrapper .container {
  max-width: 360px;
  height: 600px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
main .wrapper .container .email {
  margin: 10px;
}
main .wrapper .container .email input {
  height: 40px;
  width: 98%;
  border: 0.5px solid #4f6043;
  border-radius: 10px;
  padding: 5px;
}
main .wrapper .container .email input:focus {
  box-shadow: 0px 0px 0px 1.5px black inset;
  outline: none;
}
main .wrapper .container .password {
  margin: 10px;
}
main .wrapper .container .password input {
  height: 40px;
  width: 98%;
  border: 0.5px solid #4f6043;
  border-radius: 10px;
  padding: 5px;
}
main .wrapper .container .password input:focus {
  box-shadow: 0px 0px 0px 1.5px black inset;
  outline: none;
}
main .wrapper .container .phone_number {
  margin: 10px;
}
main .wrapper .container .phone_number input {
  height: 40px;
  width: 98%;
  border: 0.5px solid #4f6043;
  border-radius: 10px;
  padding: 5px;
}
main .wrapper .container .phone_number input:focus {
  box-shadow: 0px 0px 0px 1.5px black inset;
  outline: none;
}
main .wrapper .container .buttons {
  margin: 10px;
}
main .wrapper .container .buttons button {
  font-family: "Shippori Mincho", serif;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border: 2px solid #4f6043;
  border-radius: 10px;
  margin: 10px;
  background-color: #6e8058;
}
main .wrapper .container .buttons button:focus {
  box-shadow: 0px 0px 0px 1px black inset;
  outline: none;
}
main .wrapper .container .buttons button:hover {
  background-color: #6e8058;
}