body {
  width: 100%;
  margin: 0;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  background-color: #6e8058;
  min-height: 50px;
}
header .container {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
}
header .container .left-header {
  min-height: 50px;
  float: left;
  width: 70%;
}
header .container .left-header ul {
  list-style-type: "";
  margin: auto;
  padding-top: 5px;
}
header .container .left-header ul li {
  display: inline-block;
  padding-right: 30px;
  padding-bottom: 9px;
  float: left;
  position: relative;
}
header .container .left-header ul li a {
  color: #c4bf62;
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  text-decoration: none;
}
header .container .left-header ul li .submenu {
  position: absolute;
  top: 100%;
  width: 90%;
  z-index: 10;
  transition: 0.5s ease-in-out;
  opacity: 0;
  padding: 0;
  background-color: #4f6043;
}
header .container .left-header ul li .submenu li {
  padding: 5px;
}
header .container .left-header ul li a:hover {
  color: silver;
}
header .container .left-header ul li:hover .submenu {
  opacity: 1;
}
header .container .right-header {
  min-height: 50px;
  float: left;
  width: 30%;
}
header .container .right-header ul {
  list-style-type: "";
  margin: auto;
  padding-top: 5px;
}
header .container .right-header ul li {
  display: inline-block;
  padding-right: 30px;
  float: right;
}
header .container .right-header ul li a {
  color: #c4bf62;
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  text-decoration: none;
}
header .container .right-header ul li a:hover {
  color: silver;
}

main .container {
  min-height: 500px;
}
main .container h1 {
  text-align: center;
}
main .container hr {
  size: 1px;
  color: grey;
  max-width: 100px;
}
main .container .layers {
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .container .layers .articles {
  max-width: 325px;
  min-height: 250px;
  max-height: 500px;
  text-align: justify;
  border: 2px solid grey;
  margin: 10px;
  padding: 5px 10px;
}
main .container .layers .articles textarea {
  text-align: justify;
}
main .container .layers h3 {
  text-align: center;
}

footer {
  background-color: #4f6043;
  text-align: center;
}
footer .container {
  height: 70px;
  display: inline-flex;
}
footer .container .content {
  color: #c4bf62;
  font-family: "Shippori Mincho", serif;
  font-size: 25px;
  padding: 15px;
}
