body{
	width:100%;
	margin:0;
}
.container{
	max-width:1200px;
	padding:0 15px;
	margin:0 auto;
}
header{
	background-color:#6e8058;
	min-height:50px;
	
	.container{
		min-height:50px;
		display: flex;
		flex-wrap:wrap;
		.left-header{
			
			min-height:50px;
			float:left;
			width:70%;
			ul{
				list-style-type:""; 
				margin: auto;
				padding-top: 5px;
				li{
					display: inline-block;
					padding-right: 30px;
					padding-bottom: 9px;
					float: left; 
					position: relative;
					a{
						color: #c4bf62;
						font-family: 'Shippori Mincho', serif;
						font-size: 25px;
						text-decoration: none;
					}
					.submenu {
						position: absolute;
						top: 100%;
						width: 90%;
						z-index: 10;
						transition: 0.5s ease-in-out;
						opacity: 0;
						padding:0;
						background-color: #4f6043;
						li{
							padding: 5px;
						}
					}

				}
				li a:hover{
					color:silver;
				}
				li:hover .submenu {
					opacity: 1;
				}
			}
			
		}
		.right-header{
			
			min-height:50px;
			float:left;
			width:30%;
			ul{
				list-style-type:""; 
				margin: auto;
				padding-top: 5px;
				li{
					display: inline-block;
					padding-right: 30px;
					float: right; 

					a{
						color: #c4bf62;
						font-family: 'Shippori Mincho', serif;
						font-size: 25px;
						text-decoration: none;
					}
				}
				li a:hover{
					color:silver;
				}
			}
		}
	}
}

main{
	.container{
		min-height: 500px;
		max-height: 1600px;	
		h1{
			text-align: center;
		}
		hr{
			size: 1px;
			color:grey;
			max-width: 100px;
		}
		.layers{
			padding: 0 15px;
    		display: flex;
    		justify-content:space-around;
    		flex-wrap:wrap;
			.articles{
				max-width: 325px;
				min-height: 250px;
				max-height: 500px;
				text-align: justify;
				border: 2px solid grey;
				margin: 10px;
				padding: 5px 10px;
				textarea{
					text-align: justify; 
				}
			}
			h3{
				text-align: center;
			}
		}
	}
}
footer{
	background-color: #4f6043;
	text-align: center;
	.container{
		height:70px;
		display: inline-flex;
		
		.content{
			color: #c4bf62;
			font-family: 'Shippori Mincho', serif;
			font-size: 25px;
			padding: 15px;			
		}
	}
}